# Database credentials
DB_USER=postgres.pbnuotdwtenshgacgupa
DB_PASS=SuperSecretPassword
DB_HOST=aws-1-us-east-1.pooler.supabase.com
DB_PORT=6543
DB_NAME=postgres

CLOUDINARY_CLOUD_NAME=dkysq42mn
CLOUDINARY_API_KEY=468473155573736
CLOUDINARY_API_SECRET=BsElUfBqm6fYnhe4-p6cRlI4knQ
# JWT
JWT_SECRET=supersecretkey123

# App port
PORT=5000